html {
    font-family: sans-serif;
    background: #eee;
    padding: 1rem;
}
body {
    max-width: 960px;
    margin: 0 auto;
    background: white;
}

h1 {
    font-family: serif;
    color: #377ba8;
    margin: 1rem 0;
}

a {
    color: #377ba8;
}
hr {
    border: none;
    border-top: 1px solid lightgray;
}
nav {
    background: lightgray;
    display: flex;
    align-items: center;
    padding: 0 0.5rem;
}
nav h1 {
    flex: auto;
    margin: 0;
}
nav h1 a {
    text-decoration: none;
    padding: 0.25rem 0.5rem;
}
nav a {
    flex: auto;
    margin: 0;
}
nav a img {
    margin: 0.5rem 0 0.3rem 0.5rem;
    width: 7rem;
}
nav ul  {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}
nav ul li a, nav ul li span, header .action {
    display: block;
    padding: 0.5rem;
}

.content {
    padding: 0 1rem 1rem;
}
.content > header {
    border-bottom: 1px solid lightgray;
    display: flex;
    align-items: flex-end;
}
.content > header h1 {
    flex: auto;
    margin: 1rem 0 0.25rem 0;
}
.flash {
    margin: 1em 0;
    padding: 1em;
    background: #cae6f6;
    border: 1px solid #377ba8;
}
.content:last-child {
    margin-bottom: 0;
}
.content form {
    margin: 1em 0;
    display: flex;
    flex-direction: column;
}
.content label {
    font-weight: bold;
    margin-bottom: 0.5em;
}
.content input, .content textarea {
    margin-bottom: 1em;
}
.content textarea {
    min-height: 12em;
    resize: vertical;
}

input.danger {
    color: #cc2f2e;
}
input[type=submit] {
    align-self: start;
    min-width: 10em;
}

#map {
    margin: 1rem 0;
    height: 30rem;
}
.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
    width: 8rem;
}
.info h4 {
    margin: 0 0 5px;
    color: #777;
}

/*Popup box*/
.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 490px;
  position: relative;
}

.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #d80606;
}

@media screen and (max-width: 700px){
  .popup{
    width: 70%;
  }
}


/*loading symbol*/
.lds-ellipsis {
  visibility: hidden;
  display: inline-block;
  position: relative;
  /*width: 80px;*/
  height: 8px;
  left: 10px;
}
.lds-ellipsis div {
  position: absolute;

  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #888;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 4px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 4px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 16px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 28px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(12px, 0);
  }
}