{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Dashboard{% endblock %}</h1>
{% endblock %}

{% block content %}
    <p>Hello World</p>
    <p>{{ g.user }}</p>

    {% if g.user['permissions'] == '2' or g.user['permissions'] == '3' %}
        <a href="{{ url_for('auth.admin_controls') }}">Admin Controls</a>
        <br>
    {% endif %}

    <a href="{{ url_for('map.zip_editor') }}">Map</a>
    <br><br>

    <a class="button" href="#popup1"><button>Send Data to Onfleet</button></a>

    <div id="popup1" class="overlay">
        <div class="popup">
            <h1>Select a cutoff date</h1>
            <a class="close" href="#">&times;</a>
            <div class="popup-content">
                Any signups on or after the selected date will NOT be included in the data sent to Onfleet.
                <form action="{{ url_for('data.get') }}" method="post">
                    <label for="cutoff-date">Cutoff Date</label>
                    <input type="date" id="cutoff-date" name="cutoff-date" required>
                    <input type="submit" value="Submit">
                </form>
            </div>
        </div>
    </div>
{% endblock %}