{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Dashboard{% endblock %}</h1>
{% endblock %}

{% block content %}
    <p>Hello World</p>
    <p>{{ g.user }}</p>

    {% if g.user['permissions'] == '2' or g.user['permissions'] == '3' %}
        <a href="{{ url_for('auth.admin_controls') }}">Admin Controls</a>
        <br>
    {% endif %}

    <a href="{{ url_for('map.zip_editor') }}">Map</a>

    <br>
    <br>

    <script>
    function submitForm(){
        document.getElementById("lds").style.visibility = "visible"
        document.getElementById("submit-button").value = "Sending..."
        document.getElementById("submit-button").disabled = true
    }
    </script>

    <a class="button" href="#cutoff-popup"><button>Send Data to Onfleet</button></a>

    <div id="cutoff-popup" class="overlay">
        <div class="popup">
            <h1>Select a cutoff date</h1>
            <a class="close" href="#">&times;</a>
            <div class="popup-content">
                Any signups on or after the selected date will NOT be included in the data sent to Onfleet.
                <form action="{{ url_for('tasks.create') }}" method="post" onsubmit="submitForm()">
                    <label for="cutoff-date">Cutoff Date</label>
                    <input type="date" id="cutoff-date" name="cutoff-date" required>
                    <span>
                        <input type="submit" value="Send Data" id="submit-button">
                        <div id="lds" class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>
                    </span>
                </form>
            </div>
        </div>
    </div>
{% endblock %}