{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Zip Code Assignments{% endblock %}</h1>
{% endblock %}

{% block content %}
    <!-- Leaflet map  -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css"
    integrity="sha512-hoalWLoI8r4UszCkZ5kL8vayOGVae1oxXe/2A4AO6J9+580uKHDO3JdHb7NzwwzK5xr/Fs0W40kiNHxM9vyTtQ=="
    crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js"
    integrity="sha512-BB3hKbKWOc9Ez/TAwyWxNXeoV9c1v6FIeYiBieIWkpLjauysF18NzgR1MBNBXf8/KABdlkX68nAhlwcDFLGPCQ=="
    crossorigin=""></script>

    <div id="map"></div>
    <script>
        let gjData = {{geojson_data|tojson}};
        let hubAssignmentData = {{ hub_assignment_data|tojson }};
        let hubInfo = {{ hub_info|tojson }};
    </script>

    <label for="hubSelector">Select Hub&nbsp;</label>
    <select id="hubSelector">
        {% for hub in hub_info.keys() %}
            <option value="{{ hub }}">{{ hub_info[hub][0] }}</option>
        {% endfor %}
    </select>

    <ul>
	<li><span style="color: green;">Green:</span> Assigned to selected hub</li>
	<li><span style="color: gray;">Gray:</span> Assigned to another hub</li>
	<li><span style="color: goldenrod;">Yellow:</span> Unassigned</li>
    </ul>

    <button id="saveButton" onclick="submitToServer()" disabled>Save</button>
    <span id="savingText" style="color: gray" hidden>Saving...</span>
    <span id="savedText" style="color: darkgreen" hidden>Successfully saved!</span>

    <script src="{{ url_for('static', filename='zip_code_map.js') }}"></script>

{% endblock %}
